<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Timestamp-microservice</title>
    <meta name="Timestamp-microservice" content="Timestamp-microservice made by Feddle">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div id="main">
      <h1>Timestamp-microservice</h1>
      <p>Returns provided natural or unix timestamp as an object that contains both.</p>
      <a href="https://github.com/Feddle/Timestamp-microservice">https://github.com/Feddle/Timestamp-microservice</a>
      <h2>Example usage</h2>
      <code>https://timestampt-microservice-feddle.glitch.me/December%2015,%202015</code>
      <p></p>
      <code>https://timestampt-microservice-feddle.glitch.me/1450137600</code>
      <h2>Example output</h2>
      <code>{ "unix": 1450137600, "natural": "December 15, 2015" }</code>
    </div>
  

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
